<h1>View Photos!</h1>
<% if params[:user_id].nil? %>
      <%= render 'form' %>
<% else %>
    <%= render 'form' %>
    <% if params[:user_id].empty? %>
      <div>Displaying the latest public photos uploaded to Flickr</div>
    <% else %>
      <div>Displaying public photos uploaded by the person with the ID: <%= params[:user_id] %> </div>
    <% end %>
    <% @photos.each do |photo| %>
        <img src="<%= Flickr.url_n(photo) %>"/><br>
    <% end %>
<% end %>
